<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
        <title>
            <%= title %>  
                <!-- <%-  title % >   //display -->
        </title>
</head>
<body>

    <%- include('../partials/nav.ejs') %>
        <!-- <a href="/download">download file</a> -->

        <div class="text-center bg-secondary text-light">
            <h1>About</h1>
        </div>
</body>

</html>