<!DOCTYPE html>
<html lang="en">
<head>  
    <%- include('../partials/head.ejs') %>
    <title>
        <%= title %>
        <!-- <%=  title % >  //render -->
    </title>

</head>
<body>
    <!-- NAVBAR -->
    <%- include('../partials/nav.ejs') %>
    <!-- <a href="/download">download file</a> -->
    
        <div class="text-center bg-secondary text-light">
            <h1>Home</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At eaque quidem consectetur velit dolore sequi placeat
                reprehenderit distinctio consequatur ipsa, veniam, rem voluptatibus? Ea quia quasi, cupiditate suscipit rem
                consectetur.</p>
          </div>
</body>
</html>
 